<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<!-- 开启sql下划线命名的列字段与Java中驼峰命名的属性之间的自动映射 -->
		<!-- 如user_name会自动映射到属性userName -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 打印sql语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	<!-- 别名 -->
	<typeAliases>
		<package name="com.ph.model"/>
	</typeAliases>
	<plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型, 可选值为[mysql,mariadb,sqlite,oracle,hsqldb,postgresql,sqlserver,db2,informix] -->  
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>